@model application.Models.CustomModels.vm_ServiceChange

@{
    ViewData["Title"] = "Edit";
}

<div class="card">
    <div class="card-header bg-primary">
        <h1 class="text-white">Edit</h1>
    </div>
    <div class="card-body">
        <h4>Service</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit">    
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="ServiceId" />
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ActivityIds" class="control-label"></label>
                        <select asp-for="ActivityIds" asp-items="@ViewBag.activities" class="form-select dropdown-select" multiple>
                            <option value="">-- Избери --</option>
                        </select>
                        <span asp-validation-for="ActivityIds" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>
<p class="col-12 text-center text-danger">@Html.ValidationMessage("Error")</p>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
