@{
    Layout = "_EmailLayout";
    ViewBag.Title = "";
}

@section EmailHeader{Subject: Ново барање}


    <p>
        Почитувани,
    </p>
    <p>
        Поднесено е барање што ги исполнува условите кои вие ги исполнувате. Ве молиме контактирајте не.
        <br /><a href="@ViewBag.Callback">Кликнете тука за потврда</a>
    </p>
    <p>
        Со почит,
        SPaPS.
    </p>