@model application.Models.AccountModels.LoginModel

@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<form asp-action="Login" method="post">
    <div class="row">
        <div class="col-md-3 col-6">
            <div class="form-floating mb-3">
                <input asp-for="email" type="email" class="form-control" placeholder="name@example.com" />
                <label asp-for="email"></label>
            </div>
        </div>
        <div class="col-md-3 col-6">
            <div class="form-floating mb-3">
                <input asp-for="password" type="password" class="form-control" placeholder="password" />
                <label asp-for="password"></label>
            </div>
        </div>
        <input type="submit" class="btn btn-primary" value="Log in" />
    </div>
</form>