@model application.Models.AccountModels.LoginModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<form asp-action="Login" method="post">
    <div class="card">
        <div class="card-header bg-primary">
            <h2 class="text-white">Најава</h2>
        </div>
        <div class="card-body">
            <div class="col-md-3 col-6">
                <div class="form-floating mb-3 form-group">
                    <input asp-for="email" type="email" class="form-control" placeholder="name@example.com" />
                    <span asp-validation-for="email" class="text-danger"></span>
                    <label asp-for="email"></label>
                </div>
            </div>
            <div class="col-md-3 col-6 form-group">
                <div class="form-floating mb-3 form-group">
                    <input asp-for="password" type="password" class="form-control" placeholder="password" />
                    <span asp-validation-for="password" class="text-danger"></span>
                    <label asp-for="password"></label>
                </div>
            </div>
            <input type="submit" class="btn btn-primary" value="Најави се" />
            <br />
            <a asp-action="ForgotPassword" asp-controller="Account">Заборавена лозинка ?</a>
        </div>
    </div>
</form>
<p class="col-12 text-center text-danger">@Html.ValidationMessage("Error")</p>
<h4 class="col-12 text-center text-success">@Html.ValidationMessage("Success")</h4>