@model application.Models.AccountModels.ResetPasswordModel

@{
    ViewData["Title"] = "Reset Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form asp-action="ResetPassword" method="post">
    <div class="card">
        <div class="card-header bg-primary">
            <h2 class="text-white">Промени лозинка</h2>
        </div>
        <div class="card-body">
        <input type="hidden" asp-for="Token"   />
        <input type="hidden" asp-for="Email" />
        <div class="col-md-3 col-6">
            <div class="form-floating mb-3">
                <input asp-for="NewPassword" type="password" class="form-control" placeholder="name@example.com" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
                <label asp-for="NewPassword"></label>
            </div>
        </div>
        <div class="col-md-3 col-6">
            <div class="form-floating mb-3">
                <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="name@example.com" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                <label asp-for="ConfirmPassword"></label>
            </div>
        </div>
    <input type="submit" class="btn btn-primary" value="Промеми" />
    </div>
    </div>
</form>
<p class="col-12 text-center text-danger">@Html.ValidationMessage("Error")</p>
<h4 class="col-12 text-center text-success">@Html.ValidationMessage("Success")</h4>